extends layout
block content
  body(data-spy="scroll" data-target="#sidebar-wrapper") 
    #wrapper
      // Sidebar
      a#menu-toggle(href="#").btn.btn-primary.btn-lg.toggle
                i.glyphicon.glyphicon-sunglasses
      div#sidebar-wrapper
          ul.sidebar-nav.nav
            a#menu-close(href="#").btn.btn-light.btn-lg.pull-right.toggle
              i.glyphicon.glyphicon-sunglasses
            br
            br
            br
            li.sidebar-brand
              a(href='#page-content-wrapper', onclick = "$('#menu-close').click()")
                span.fa.fa-home.solo Home
            li
              a(href='#about', data-scroll='', onclick = "$('#menu-close').click()")
                span.fa.fa-anchor.solo About
            li
              a(href='#anch2', data-scroll='', onclick = "$('#menu-close').click()")
                span.fa.fa-anchor.solo Anchor 2
            li
              a(href='#anch3', data-scroll='', onclick = "$('#menu-close').click()")
                span.fa.fa-anchor.solo Anchor 3
            li
              a(href='#anch4', data-scroll='', onclick = "$('#menu-close').click()")
                span.fa.fa-anchor.solo Anchor 4
      // Page content
      header#top.header
          .text-vertical-center
              h1= title
              h3= content
      section#about.about
        .container
          .row
            .col-lg-12
              h2 Jannik Grausen 
              p.lead
              | Looking for internship autumn 2k16
  script.      
    $("#menu-close").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });
    // Opens the sidebar menu
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });                