extends layout
block content
  body(data-spy="scroll" data-target="#sidebar-wrapper") 
    #wrapper
      // Sidebar
      a#menu-toggle(href="#").btn.btn-dark.btn-lg.toggle
                i.glyphicon.glyphicon-sunglasses
      div#sidebar-wrapper
          ul.sidebar-nav.nav
            a#menu-close(href="#").btn.btn-light.btn-lg.pull-right.toggle
              i.glyphicon.glyphicon-sunglasses
            br
            br
            br
            li.sidebar-brand
              a(href='#page-content-wrapper', onclick = "$('#menu-close').click()")
                span.fa.fa-home.solo Home
            li
              a(href='#about', data-scroll='', onclick = "$('#menu-close').click()")
                span.fa.fa-anchor.solo About
            li
              a(href='#links', data-scroll='', onclick = "$('#menu-close').click()")
                span.fa.fa-anchor.solo links
            li
              a(href='#resume', data-scroll='', onclick = "$('#menu-close').click()")
                span.fa.fa-anchor.solo resume
            li
              a(href='#contact', data-scroll='', onclick = "$('#menu-close').click()")
                span.fa.fa-anchor.solo contact
      // Page content
      header#top.header
          .text-vertical-center
              h1 Jannik Grausen Fischer
              img(src='img/jglogo.png').animated.bounce.logo     
      section#about.about
          include ./partials/timeline.jade
      section#links.links
          .row
            .col-md-4
              a(href="http://github.com/nesuarg")
                i.fa.fa-5x.fa-github.linksicon(aria-hidden='true')
            .col-md-4
              a(href="http://github.com/nesuarg")
                i.fa.fa-5x.fa-linkedin.linksicon(aria-hidden='true')
            .col-md-4
              a(href="http://github.com/nesuarg")
                i.fa.fa-5x.fa-behance.linksicon(aria-hidden='true')
            
  script.      
    $("#menu-close").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });
    // Opens the sidebar menu
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });                