doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width')
    title= title
    block css
      link(rel='stylesheet', href='/components/bootstrap/dist/css/bootstrap.css')
      link(rel='stylesheet', href='/components/animate.css/animate.css')
      link(rel='stylesheet', href='/components/font-awesome/css/font-awesome.min.css')
      link(rel='stylesheet', href='/css/libs/timeline.css')
      link(rel='stylesheet', href='/css/style.css')
    block js
      if ENV_DEVELOPMENT
        script(src='http://localhost:35729/livereload.js')
        script(src='/components/jquery/dist/jquery.min.js')
        script(src='/components/bootstrap/dist/js/bootstrap.min.js')
        script(src='/components/scrollspy/build/scrollspy.js')
        script(src='/js/sidebar-collapse.js')
  body
    block content
    
